<div class="card">
  <div id="player-header" class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-user fa-fw"></i>
    Player
  </div>
  <div id="player-body" class="card-body">
    <table class="table table-sm table-hover">
      <tbody>
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td>
            <span id="player-playername">{{playerName}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <b>Connection</b>
          </td>
          <td>
            <i id="player-online-icon" class="fas fa-check text-success" ng-if="$root.ws && $root.ws.readyState == 1"></i>  
            <i id="player-offline-icon" class="fas fa-exclamation-triangle text-danger" ng-if="$root.ws.readyState != 1"></i>  
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
