<div class="modal-content-data" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h5 class="modal-title" id="missionModalLabel">Mission {{selectedMission.id}}: {{selectedMission.name}}
            <button type="button" class="close" ng-click='ctrl.cancel()' aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body ">
        <div ng-if='!ctrl.showContent' class="desc-info-header">{{selectedMission.description}}</div>
        <div class="row" ng-if='ctrl.showContent'>
            <div class="col-sm-12">
                <div compile="missionContent"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-if='!ctrl.showContent'>
        <button type="button" class="btn btn-secondary" ng-click='ctrl.cancel()'>Cancel</button>
        <button type="button" class="btn btn-primary" ng-click='ctrl.ok()'>Confirm</button>
    </div>
</div>