<div id="tools" class="card">
  <div id="tools-header" class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-tools fa-fw"></i>
    Tools
  </div>
  <div id="tools-container" class="card-body">

    <table id="tools-table" class="table table-sm table-hover table-borderless">
      <tbody>
        <tr id="tools-row-{{$index}}" ng-repeat="tool in currentTools track by $index" ng-Click='itemClicked($index)'>
          <td id="tools-image-{{$index}}">  
            <div class="tools-image-container">
              <img class="tools-image" ng-src="{{tool.img}}" />
            </div>
          </td>
          <td>
            <b class="d-block">
              <span id="tools-name-{{$index}}">
                {{tool.name}}  
              </span>
            </b>
            <span id="tools-desc-{{$index}}">
              {{tool.desc}}  
            </span>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
