<div ng-init="playerAnswers={}">
    <h2 class="all-mission-header">Quiz</h2>
    <div class="row">
        <div class="col-sm-12 all-mission-content disable-answers-[[disableAnswers]]">
            <span class='info-header'>Question 1: Which of the following can mitigate the risk of network access using Default Credential Exploitation? (Check all that apply)</span>
            <span class='info-steps'><input type="checkbox" ng-model="playerAnswers.q1.a">a. Use default credentials hard to guess.</span>
            <span class='info-steps'><input type="checkbox" ng-model="playerAnswers.q1.b">b. Force the user to change the factory default credentials after the first login.</span>
            <span class='info-steps'><input type="checkbox" ng-model="playerAnswers.q1.c">c. Always block the account after 3 errors in logging on.</span>
            <span class='info-steps'><input type="checkbox" ng-model="playerAnswers.q1.d">d. Use a unique, per-device default password that can be printed on the device.</span>
            <br>
            <span class='info-header'>Optional (not graded): Describe the steps you used to find the flag.</span>
            <span class='info-steps'><textarea type="text" rows="6" ng-model="playerAnswers.q0"></textarea></span>
            <br>
            <span class="quiz-button"><button class="btn btn-primary" ng-click="submitQuiz([playerAnswers.q0, playerAnswers.q1])">Submit</button> <i>[[otherPlayerInProgress]]</i></span>
            <br>[[answers]]
        </div>
    </div>
</div>