<div id='chat' class="card">
  <div id='chat-header'  class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="far fa-comments fa-fw"></i>
    Chat
  </div>
  <div id='chat-body' class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <span class="chat-to">To:
          <select id='chat-select' ng-model="chatTo">
            <option ng-repeat="to in chatToList track by $index" ng-value="to" ng-disabled="to.disabled">{{to.name}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id='chathistory'>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Type a message" id='chat-comment' ng-model="chatMsg" ng-keyup="$event.keyCode == 13 ? sendChat() : null"></input>
          <div class="input-group-append">
            <button id='chat-send' class="btn btn-primary" ng-click="sendChat()">
              <i class="fas fa-paper-plane mr-1"></i>
              <span>
                Send
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
