@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./vendor/fonts/glyphicons-halflings-regular.eot');
  src: url('./vendor/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./vendor/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./vendor/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('.//glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body{
  background: #e9ebee;
  font-family: arial;
}

@media only screen and (max-width: 1200px) {
  .container-fluid{
    padding: 0 20%;
  }
}

@media only screen and (max-width: 865px) {
  .container-fluid{
    padding: 0 5%;
  }
}

nav{
  background: #097DBC;
  color: white;
}

.navbar-brand{
  letter-spacing: 2px;
}

.card{
  margin: 10px;
}

.card-header{
  background: #049FD9 ;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-body{
  border: 2px #049FD9  solid;
}

#chathistory{
  height: 200px;
  width: 100%;
  padding: 0 10px;
  overflow-y: scroll;
  border: 2px rgba(199, 198, 198, 0.24) solid;
}

#players-table {
  max-height: 600px;
  overflow:   auto;
}

#chat-to{
  height: 40px;
}

#teams-left-button{
  width: 40%;
  max-width: 80px;
}

#teams-right-button{
  width: 40%;
  max-width: 80px;
}

#teams-container {
  min-height: 200px;
}

.teams-list-container{
  padding: 0;
  overflow-x: hidden;
}

.teams-item{
  margin:  0;
  padding: 0;
  border: rgb(197, 197, 197) 1px solid;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1366px) {
  .teams-list-container{
    padding: 5px;
  }
  .teams-item{
    padding: 0 10px;
    text-align: left;
  }
}

.selected {
  border: 2px rgba(199, 101, 101, 0.993) solid;
  color: rgb(182, 88, 88);
}

.fa-grip-lines{
  color: rgba(255, 255, 255, 0.623);
  cursor: grab;
}

.fa-grip-lines:active{
  cursor: grabbing;
}

/* Dashboard drag and drop */

.grid{
  min-height: 100%;
  width:      100%;
}

.item {
  position: absolute;
  width: 100%;
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}

/* Dashboard drag and drop END */

.modal{
  color:black;
}