@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./vendor/fonts/glyphicons-halflings-regular.eot');
  src: url('./vendor/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./vendor/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./vendor/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('.//glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body{
  background: #e9ebee;
  font-family: arial;
}


nav{
  background: #6CC04A;
  color: white;
}

.navbar-brand{
  letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
  .container-fluid{
    padding: 0 20%;
  }
}

@media only screen and (max-width: 865px) {
  .container-fluid{
    padding: 0 5%;
  }
}

.card{
  margin: 10px;
}

.card-header{
  background: #049FD9;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-body{
  border: 2px #049FD9 solid;
}

#chathistory{
  height: 200px;
  width: 100%;
  padding: 0 10px;
  overflow-y: scroll;
  border: 2px rgba(199, 198, 198, 0.24) solid;
}

#chat-to{
  height: 40px;
}

.selected {
  border: 2px rgba(199, 101, 101, 0.993) solid;
  color: rgb(182, 88, 88);
}

.fa-grip-lines{
  color: rgba(255, 255, 255, 0.623);
  cursor: grab;
}

.fa-grip-lines:active{
  cursor: grabbing;
}

.modal-body img {
  max-width: 100%;
}

.modal-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

#tools-container{
  height: 300px;
  overflow-y: auto;
  cursor: pointer;
}

.tools-image-container{
  width: 75px;
  height: 75px;
}

.tools-image{
  width: 100%;
  height: 100%;
}

.tooltip-image{
  width: 100%;
  height: 200px;
}

#waiting-component{
  position: relative;
  margin-top: 25px;
}

#waiting-icon{
  color: rgb(50, 151, 168);
}

#waiting-text{
  position: relative;
  margin-left: 10px;
  font-size: 25px;
  color: rgb(50, 151, 168);
  bottom: 10px;
}

#notification-container{
  height: 220px;
  overflow-x: auto;
}

#mission-container{
  overflow-y: auto;
  min-height: 400px;
  max-height: 90vh;
}

#mission-container img{
  max-width: 100%;
  max-height: 150px;
}

#mission-html-container .hint i{
  display: block;
  font-weight: bold;
  color: red;
}

#mission-html-container .quiz-button i{
  display: block;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

#gameboard-container{
  overflow-x: auto;
}

/* Prototype CSS code - Start */

.info-header{
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.info-steps{
  display: block;
}

.hint{
  display: block;
  margin: 10px 0;
}

#mission-name{
  font-size: 20px;
  font-weight: bold;
}

#mission-id{
  font-size: 20px;
  font-weight: bold;
}

.mission-sub-title{
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-result{
  font-weight: normal;
}

.quiz-result span{
  font-size: 18px;
  font-weight: bold;
}

.quiz-remediation {
  margin: 10px 0;
}

.quiz-feedback {
  font-weight: bold;
  font-size: 18px;
  color: rgb(58, 148, 65);
}

/* Prototype CSS code - END */

/* Dashboard drag and drop - START */

.grid{
  min-height: 100%;
  width:      100%;
}

.item {
  position: absolute;
  width: 100%;
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}

/* Dashboard drag and drop - END */

.info-steps textarea{
  width: 100%;
  height: 60px;
}

.info-steps input[type='checkbox'] { 
  margin-right: 5px; 
}

#endgame-scoreboard{
  overflow: auto;
  max-height: 60vh;
}

.endgame-list {
  margin: 25px 10px;
}

.endgame-item{
  height:  35px;
  padding: 5px 10px;
}

#toast-container > div {
  opacity:1;
}