<div id='player' class="card">
  <div id='player-header' class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="far fa-user fa-fw"></i>
    Players
  </div>
  <div id='players-table' class="card-body">
    <table class="table table-sm table-responsive-sm table-hover">
      <thead>
        <tr>
          <th>Online</th>
          <th>Name</th>
          <th>IP</th>
          <th>Kali</th>
          <th>Pi</th>
        </tr>
      </thead>
      <tbody id='player-tbody'>
        <tr ng-class="{true:'table-danger'}[!player.viewOnline]" ng-repeat="player in players track by $index">
          <td>  
            <i class="text-danger fas fa-exclamation-triangle" ng-if="!player.viewOnline"></i>
            <i class="text-success fas fa-check" ng-if="player.viewOnline"></i>
          </td>
          <td>
            {{ player.name }}
          </td>
          <td>
            {{ player.ip }}
          </td>
          <td>
            <i class="text-danger fas fa-exclamation-triangle" ng-if="!player.kaliOnline"></i>
            <span>{{player.kaliIp}}</span>
          </td>
          <td>
            <i class="text-danger fas fa-exclamation-triangle" ng-if="!player.pi.online"></i>
            <span>{{player.pi.ip}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

