<div id="notification" class="card">
  <div id="notification-header" class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-bullhorn fa-fw"></i>
    Notifications
  </div>
  <div id='notification-container' class="card-body">
    <table class="table table-sm table-hover table-borderless">
      <tbody>
        <tr ng-repeat="notification in notifications track by $index">
          <td>  
            <i class="far fa-bell"></i>
          </td>
          <td style="white-space: nowrap">  
            {{notification.date | date : "h:mm a"}}
          </td>
          <td>
            {{notification.msg}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

