<div class="modal fade" id="modal-completed">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-success text-light">
        <h4 class="modal-title">
          <i class="fas fa-trophy"></i>
          Success
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h5>
          Congratulations!
        </h5>
        <span>
          Your team has completed all levels.
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
