<div id="modal-error-template" style="display:none">
  <div id="modal-error-header" class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="missionModalLabel">
    <i class="fas fa-exclamation-circle"></i>
    [[name]]
    </h4>
    <button id="modal-error-close" type="button" class="close" ng-click='ctrl.cancel()' aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="modal-error-body" class="modal-body">
      <div>[[description]]</div>
  </div>
  <div class="modal-footer">
      <button id="modal-error-submit" type="button" class="btn btn-secondary" ng-click='ctrl.cancel()'>OK</button>
  </div>
</div>