<div id="modal-name-template" style="display:none">
  <div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="missionModalLabel">
    <i class="fas fa-user"></i>
    Player
    </h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="modal-name-playername">Name</label>
        <input type="text" class="form-control" ng-model="ctrl.name" id="modal-name-playername" placeholder="Enter Name" minLength="2" maxLength="12" required> 
      </div>
      <button id="modal-name-submit" type='submit' class="btn btn-primary float-right" ng-click='ctrl.ok()'>OK</button>
    </form>
  </div>
</div>